*{
	/*margin: 0px auto;*/
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
	font: 12px tahoma, Arial, Verdana, sans-serif
}
li{
	list-style: none;
	padding: 0px;
}
ul{
	padding: 0px;
}
a{
	text-decoration: none;
}
a:hover{
	cursor: pointer;
}
tr{
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

/*      top             */
.container{
/*	width: 1024px;*/
/*	height: 200px;*/
	background: #f5faff;
}
.main{
	width: 100%;
	height: 100%;
}
.head{
	background-image:url(../img/back.jpg) ;

}
.head th{
	margin: 0;
	padding: 0;
}
.logo{
	float: left;
	width: 160px;
	height: 60px;
	text-align: left;
	border: none;
}

.logo img{
	float: left;
}
.head_right{
	width: 100%;
	height: 60px;
	overflow: hidden;
}

#nav{
	width: 600px;
	height:30px;
	float: left;
	padding-top: 30px;
	white-space: nowrap;
	/*border: 1px solid red;*/
	
}
#nav li{
	float: left;
	width: 74px;
	border-right: 1px  solid #fff;
}
#nav li a{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #488bd1;
	text-align: center;
	
}
#nav li a:hover{
	width:74px ;
	height:30px ;
}
.link{
	
	width: 240px;
    height: 29px;
    line-height: 29px;
    float: right;
    clear: right;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
	margin-right: 10px;
	/*border: 1px solid red;*/
}
.link a{
	font-size: 12px;
	color: #666666;
}

/*          mid              */

.main td{
	vertical-align:top;
	margin: 0px;
}
.main iframe{
	width: 100%;
	height: 100%;
	margin: 0;
}
.menu{
	width: 160px;
	height: 580px;
	padding: 6px;
	padding-left: 0px;
	margin: 0px;
	overflow: hidden;
	/*border: 1px solid red;*/
	
	float: left;
}
.menu_right{
	width: 100%;
	border-left:1px solid #a3c4d7;
	height: 580px;
	padding-left: 10px;
}
.menu dt{
	height: 26px;
	line-height: 26px;
	font-weight: bold;
	color: #333333;
	border-bottom: 1px dashed #b7d3e1;
	padding-left: 10px;
}
.menu dt a{
	color: #333333;
}
.menu dd{
	margin: 10px 0;
	padding-left: 10px;
}
.menu dd a{
	height: 26px;
	line-height: 26px;
	color: #666666;
	
}

