*{
	/*margin: 0px auto;*/
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 1000px;
	font: 12px tahoma, Arial, Verdana, sans-serif;
	/*background: url(../img/loginback.png);*/
	background: #333333;
}
a:hover{
	cursor: pointer;
}
.container{
	width: 100%;
	height: 100%;
}
.content{
	margin: 0 auto;
	width: 360px;
	height: 220px;
	position: absolute ;
	top: 150px;
	left: 400px;
/*	text-align: center;*/
	border: 1px solid #333333;
	border-radius: 10px;
	padding: 0 40px;
	padding-top: 40px;
	background: #FFFFFF;
	
	
}
.head{
	font-size: 20px;
	font-weight:bold ;
	margin-bottom: 10px;
	color: #488BD1;
}
.content dl{
	width: auto;
	height: 40px;
	margin-bottom:10px ;
	
}
.content dl dt{
	float: left;
	width: 50px;
	height: 35px;
	line-height: 35px;
	font-family:"微软雅黑" ;

}
.content dl dd{
	float: left;
	
}
.content dl dd input{
	width: 300px;
	height: 35px;
	line-height: 25px;
	float: left;
	border: none;
	border: 1px solid #B7D3E1;
	border-radius: 5px;
	
	
}
#login{
	width:350px;
	height:35px;
	background-color: #488BD1;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	border:1px solid #FFFFFF;
	border-radius: 5px;
}
.content_foot{
	margin-top: 10px;
	
}
#foget{
	float: right;
	margin-right: 10px;
	color: #333333;
}
